<!--html_preserve-->
<div class="col-md-12 testrmd-{{status}}">
  {{#pass}}
    <div class="alert alert-success" role="alert" data-toggle="collapse" data-target="#{{chunk_id}}" aria-expanded="false" aria-controls="{{chunk_id}}">
      <strong>Tests passed</strong>
    </div>
  {{/pass}}
  {{^pass}}
    <div class="alert alert-danger" role="alert" data-toggle="collapse" data-target="#{{chunk_id}}" aria-expanded="false" aria-controls="{{chunk_id}}">
      <strong>{{ error_count }} tests failed</strong> (click for details)
    </div>
  {{/pass}}
</div>
<div class="testrmd-section {{status}} {{#pass}}collapse{{/pass}}" id="{{chunk_id}}">
<!--/html_preserve-->
