<!--html_preserve-->
<div class="testrmd-badge-container-outer">
  <div class="testrmd-badge-container-inner">
    {{#pass}}
      <span class="testrmd-badge" data-toggle="collapse" data-target="#{{chunk_id}}" aria-expanded="false" aria-controls="{{chunk_id}}"><span style="font-size: 18px;">&#x1f44c;</span></span>
    {{/pass}}
    {{^pass}}
      <span class="testrmd-badge" data-toggle="collapse" data-target="#{{chunk_id}}" aria-expanded="false" aria-controls="{{chunk_id}}"><span style="font-size: 18px;">&#x1f4a9;</span>&#xd7;&#x2009;&#x2009;{{error_count}}</span>
    {{/pass}}
  </div>
</div>
<div id="{{chunk_id}}" class="testrmd-chunk panel panel-{{bootstrap_class}} collapse">
  <div class="panel-heading">
<!--/html_preserve-->
{{{content}}}
  </div>
</div>
